@use '../App' as *;

.Alert-container {
	width: 100vw;
}

.Alert-wrapper {
	position: absolute;
	top: 5px;
	right: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 270px;
	background-color: rgb(122, 196, 12);
	margin: 90px auto 0;
	padding: 10px;
	border-radius: 8px;
	color: $primary-white-color;
	font-weight: 700;
	z-index: 10;
}
