@import '../App.scss';

.Cart-container {
	display: none;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 10;
}

.Cart-section {
	max-width: $mobile-width;
	padding: 114px 28px 0;
	height: 100%;
	margin: 0 auto;
}

.Cart-cover {
	height: 100%;
	max-width: $mobile-width;
	margin: 0 auto;
}

.Cart-wrapper {
	max-width: $mobile-inner-width;
	height: 488px;
	background-color: $primary-white-color;
	margin: 0 auto;
	padding: 31px 28px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	overflow: auto;
}

.Cart-visibility {
	display: block;
}

.Cart-outer-grid {
	display: flex;
	justify-content: space-between;
	margin-top: 24px;
}

.Cart-outer-grid h1,
.Cart-last-grid h1 {
	color: $primary-black-color;
	font-size: $font-s;
	font-style: normal;
	font-weight: $font-bold;
	line-height: normal;
	text-transform: uppercase;
}

.Cart-outer-grid span {
	color: $primary-black-color;
	font-size: $font-xs;
	font-style: normal;
	font-weight: $font-medium;
	line-height: 25px;
	text-decoration-line: underline;
	opacity: 0.5;
}

.Cart-inner-grid-wrapper {
	display: flex;
	flex-direction: column;
	gap: 38px;
	margin: 32px 0;
}

.Cart-inner-grid {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}

.Cart-product-img {
	width: 64px;
	height: 64px;
	flex-shrink: 0;
	border-radius: 8px;
}

.Cart-close-btn {
	color: $primary-white-color;
	background-color: $primary-orange-color;
	width: 26px;
	text-align: center;
	border-radius: 50%;
	font-size: $font-xs;
	font-style: normal;
	font-weight: $font-medium;
	line-height: 25px;
}

.Cart-price-tag {
	display: flex;
	flex-direction: column;
	text-align: left;
	margin-right: 16px;
}

.Cart-price-tag h1 {
	color: $primary-black-color;
	font-size: $font-xs;
	font-style: normal;
	font-weight: $font-bold;
	line-height: 25px;
}

.Cart-price-tag p {
	color: $primary-black-color;
	font-size: $font-xxs;
	font-style: normal;
	font-weight: $font-bold;
	line-height: 25px;
	opacity: 0.5;
}

.Cart-last-grid {
	display: flex;
	justify-content: space-between;
	margin-bottom: 24px;
}

.Cart-last-grid p {
	color: $primary-black-color;
	text-transform: uppercase;
	font-size: $font-xs;
	font-style: normal;
	font-weight: $font-medium;
	line-height: 25px;
	opacity: 0.5;
}

.Checkout-btn {
	width: 100%;
}

.Product-id-1 {
	background: url('../assets/cart/image-yx1-earphones.jpg'), no-repeat;
	background-size: cover;
	background-position: center;
}

.Product-id-2 {
	background: url('../assets/cart/image-xx59-headphones.jpg'), no-repeat;
	background-size: cover;
	background-position: center;
}

.Product-id-3 {
	background: url('../assets/cart/image-xx99-mark-one-headphones.jpg'),
		no-repeat;
	background-size: cover;
	background-position: center;
}

.Product-id-4 {
	background: url('../assets/cart/image-xx99-mark-two-headphones.jpg'),
		no-repeat;
	background-size: cover;
	background-position: center;
}

.Product-id-5 {
	background: url('../assets/cart/image-zx7-speaker.jpg'), no-repeat;
	background-size: cover;
	background-position: center;
}
.Product-id-6 {
	background: url('../assets/cart/image-zx9-speaker.jpg'), no-repeat;
	background-size: cover;
	background-position: center;
}

@media (min-width: 768px) {
	.Cart-container {
		display: none;
		width: 100vw;
	}

	.Cart-section {
		max-width: $tablet-inner-width;
		padding: 114px 28px 0;
		height: 100%;
		margin: 0 auto;
	}

	.Cart-cover {
		max-width: $tablet-inner-width;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	.Cart-wrapper {
		width: 377px;
		overflow: auto;
		margin: 0;
	}

	.Cart-visibility {
		display: block;
	}

	.Cart-price-tag {
		margin-right: 57px;
	}

	.Cart-inner-grid {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 0;
	}

	.Cart-close-btn:hover {
		cursor: pointer;
		background-color: $secondary-orange-color;
	}
}

@media (min-width: 1110px) {
	.Cart-container {
		display: none;
		width: 100vw;
	}

	.Cart-section {
		max-width: $desktop-inner-width;
		padding: 114px 28px 0;
		height: 100%;
	}

	.Cart-cover {
		padding: 0;
		max-width: $desktop-inner-width;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	.Cart-wrapper {
		max-width: 377px;
		margin: 0;
	}

	.Cart-visibility {
		display: block;
	}

	.Cart-price-tag {
		margin-right: 57px;
	}

	.Cart-inner-grid {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 0;
	}

	.Cart-outer-grid span:hover {
		color: $primary-orange-color;
		cursor: pointer;
	}

	.Cart-close-btn:hover {
		cursor: pointer;
		background-color: $secondary-orange-color;
	}
}