@import '../App.scss';

.Category-container {
	width: 375px;
	margin-bottom: 120px;
}

.Category-wrapper {
	width: 327px;
	margin: 25px auto;
}

.Category-header h1 {
	color: $primary-white-color;
	text-align: center;
	font-size: $font-l;
	font-style: normal;
	font-weight: $font-bold;
	line-height: normal;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.Category-grid {
	display: flex;
	width: 327px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 24px;
}

.id-1 {
	background: url('../images/home/mobile/image-category-page-preview4.jpg'),
		no-repeat;
	background-size: cover;
	background-position: center;
	margin-top: 64px;
}

.id-2 {
	background: url('../images/home/mobile/image-category-page-preview2.jpg'),
		no-repeat;
	background-size: cover;
	background-position: center;
	margin-top: 64px;
}

.id-3 {
	background: url('../images/home/mobile/image-category-page-preview-1.jpg'),
		no-repeat;
	background-size: cover;
	background-position: center;
	margin-top: 64px;
}

.id-4 {
	background: url('../images/home/mobile/image-product.jpg'), no-repeat;
	background-size: cover;
	background-position: center;
	margin-top: 64px;
}
.id-5 {
	background: url('../images/home/mobile/image-category-page-preview3.jpg'),
		no-repeat;
	background-size: cover;
	background-position: center;
	margin-top: 64px;
}
.id-6 {
	background: url('../images/home/mobile/image-category-page-preview.jpg'),
		no-repeat;
	background-size: cover;
	background-position: center;
	margin-top: 64px;
}
