@import '../App.scss';

.Category-header {
	height: 192px;
	background-color: $tertiary-black-color;
	width: 100%;
}

.Category-header h1 {
	padding-top: 123px;
}

@media (min-width: 768px) {
	.Category-header {
		height: 335px;
	}

	.Category-header h1 {
		padding-top: 195px;
	}
}

@media (min-width: 1110px) {
	.Category-header {
		height: 335px;
	}

	.Category-header h1 {
		padding-top: 195px;
	}
}