@import '../App.scss';

.headphones-Category {
	height: 4777px;
}
.speakers-Category {
	height: 4000px;
}
.earphones-Category {
	height: 3200px;
}

.Category-header {
	height: 102px;
	flex-shrink: 0;
	background-color: $primary-black-color;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (min-width: 375px) and (max-width: 768.217px) {
	.headphones-Category {
		height: 4177px;
	}
	.speakers-Category {
		height: 3400px;
	}
	.earphones-Category {
		height: 2600px;
	}

	.Category-header {
		height: 246px;
	}
}

@media (min-width: 768.217px) and (max-width: 1440px) {
	.headphones-Category {
		height: 4077px;
	}
	.speakers-Category {
		height: 3400px;
	}
	.earphones-Category {
		height: 2600px;
	}

	.Category-header {
		height: 246px;
	}
}

@media (min-width: 1440px) {
}
