@use '../App' as *;

.CheckoutForm-container {
	display: none;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 10;
	padding-top: 114px;
}

.Checkout-form-section {
	max-width: $mobile-width;
	padding: 114px 28px 0;
	height: 100%;
	margin: 0 auto;
}

.Checkout-form-cover {
	height: 100%;
	max-width: $mobile-width;
	margin: 0 auto;
	display: flex;
	justify-content: flex-start;
	
}

.CheckoutForm-wrapper {
	max-width: $mobile-inner-width;
	height: 488px;
	background-color: $primary-white-color;
	margin: 0 auto;
	padding: 31px 28px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	overflow: auto;
}

.CheckoutForm-visibility {
	display: block;
}

.CheckoutForm-close-btn {
	color: $primary-white-color;
	background-color: $primary-orange-color;
	width: 26px;
	text-align: center;
	border-radius: 50%;
	font-size: $font-xs;
	font-style: normal;
	font-weight: $font-medium;
	line-height: 25px;
	margin-bottom: 50px;
}

@media (min-width: 768px) {
	.CheckoutForm-container {
		width: 100vw;
		margin-bottom: 120px;
	}

	.Checkout-form-section {
		max-width: $tablet-width;
		padding: 114px 28px 0;
		height: 100%;
		margin: 0 auto;
	}
	
	.Checkout-form-cover {
		height: 100%;
		max-width: $tablet-width;
		margin: 0 auto;
	}

	.CheckoutForm-wrapper {
		max-width: $tablet-inner-width;
		margin: 25px auto;
	}

	.CheckoutForm-close-btn:hover {
		cursor: pointer;
		background-color: $secondary-orange-color;
	}
}

@media (min-width: 1110px) {
	.CheckoutForm-container {
		width: 100vw;
		margin-bottom: 120px;
	}

	.Checkout-form-section {
		max-width: $desktop-inner-width;
		padding: 114px 28px 0;
		height: 100%;
		margin: 0 auto;
	}
	
	.Checkout-form-cover {
		height: 100%;
		max-width: $desktop-inner-width;
		margin: 0 auto;
	}
	

	.CheckoutForm-wrapper {
		max-width: $desktop-inner-width;
		margin: 25px auto;
	}

	.CheckoutForm-close-btn:hover {
		cursor: pointer;
		background-color: $secondary-orange-color;
	}
}
