@import '../App.scss';
// .Checkout {
// 	height: 2928px;
// }

.Checkout-container {
	width: 100vw;
	padding-top: 90px;
}

.Checkout-wrapper {
	max-width: $mobile-inner-width;
	margin: 0px auto;
}

.Checkout-main-grid {
	display: flex;
	flex-direction: column;
}

.Checkout-form {
	max-width: 327px;
	height: 1415px;
	background-color: $primary-white-color;
	border-radius: 8px;
	padding: 24px 0;
	margin-bottom: 32px;
}

.Checkout-form-wrapper {
	max-width: 280px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 32px;
	text-align: left;
}

.Checkout-main-text {
	color: $primary-black-color;
	font-size: 28px;
	font-style: normal;
	font-weight: $font-bold;
	line-height: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.Checkout-parts {
	display: flex;
	flex-direction: column;
}

.Checkout-sub-text {
	color: $primary-orange-color;
	font-size: 13px;
	font-style: normal;
	font-weight: $font-bold;
	line-height: 25px;
	letter-spacing: 0.929px;
	text-transform: uppercase;
	margin-bottom: 16px;
}

.Form-group {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.Form-diff-group {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.Form-fields {
	display: grid;
	grid-template-columns: 1fr;
	gap: 24px;
}

.Form-group label, .payment-method-span {
	color: $primary-black-color;
	font-size: 12px;
	font-style: normal;
	font-weight: $font-bold;
	line-height: normal;
	letter-spacing: -0.214px;
}

.Form-diff-group label {
	color: $primary-black-color;
	font-size: 12px;
	font-style: normal;
	font-weight: $font-bold;
	line-height: normal;
	letter-spacing: -0.214px;
}

.Form-group input[type='text'] {
	padding-left: 24px;
	max-width: 280px;
	height: 56px;
	flex-shrink: 0;
	border-radius: 8px;
	border: 1px solid #cfcfcf;
	background: $primary-white-color;
	color: $primary-black-color;
	font-size: $font-xxs;
	font-style: normal;
	font-weight: $font-bold;
	line-height: normal;
	letter-spacing: -0.25px;
}

.Form-diff-group input[type='text'] {
	padding-left: 24px;
	max-width: 280px;
	height: 56px;
	flex-shrink: 0;
	border-radius: 8px;
	border: 1px solid #cfcfcf;
	background: $primary-white-color;
	color: $primary-black-color;
	font-size: $font-xxs;
	font-style: normal;
	font-weight: $font-bold;
	line-height: normal;
	letter-spacing: -0.25px;
}

.Form-group input[type='text']:focus {
	border: 1px solid $primary-orange-color;
	outline: none;
	caret-color: $primary-orange-color;
}

.Form-diff-group input[type='text']:focus {
	border: 1px solid $primary-orange-color;
	outline: none;
	caret-color: $primary-orange-color;
}

.Form-group input::placeholder {
	color: #000;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: -0.25px;
	opacity: 0.4;
	padding: 18px 0 19px 0;
}

.Form-input-checkbox {
	max-width: 280px;
	height: 56px;
	flex-shrink: 0;
	border-radius: 8px;
	border: 1px solid #cfcfcf;
	background: $primary-white-color;
	display: flex;
	align-items: center;
	gap: 16px;
	padding-left: 16px;
}

.Form-input-checkbox input:checked {
	accent-color: $primary-orange-color;
}

input[type='radio'] {
	width: 20px;
	height: 20px;
	flex-shrink: 0;
}

.Checkout-parts-emoney {
	display: none;
}

.Show-emoney {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.Show-cash {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.Show-cash p {
	color: #000;
	font-family: Manrope;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: 25px;
	opacity: 0.5;
}

.Payment-details {
	display: flex;
	flex-direction: column;
	gap: 17px;
}

.Payment-details label {
	color: $primary-black-color;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: -0.25px;
}

.Payment-details-option {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

// error mode
.Form-group .error input[type='text'] {
	border: 2px solid #cd2c2c;
	outline: none;
	caret-color: #cd2c2c;
}

.Form-label-grid {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.Form-label-grid span {
	color: #cd2c2c;
	text-align: right;
	font-family: Manrope;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: -0.214px;
}

.Form-label-grid label {
	color: #cd2c2c;
}

// Summary

.Summary-container {
	max-width: 327px;
	background-color: $primary-white-color;
	border-radius: 8px;
	padding: 24px 0;
	margin-bottom: 97px;
	// height: 612px;
}

.Summary-wrapper {
	max-width: 280px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 32px;
	text-align: left;
}

.Summary-main-text {
	color: $primary-black-color;
	font-size: $font-s;
	font-style: normal;
	font-weight: $font-bold;
	line-height: normal;
	letter-spacing: 1.286px;
	text-transform: uppercase;
}

.Summary-inner-grid-wrapper {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.Summary-inner-grid {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 24px;
	justify-content: space-between;
}

.Summary-img-section {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 24px;
}

.Summary-quantity {
	color: #000;
	text-align: right;
	font-family: Manrope;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: 25px;
	opacity: 0.5;
}

.Summary-grand-total {
	display: flex;
	justify-content: space-between;
	margin: 24px 0 32px;
}

.Summary-last-grid {
	display: flex;
	justify-content: space-between;
	margin-bottom: 8px;
}

.Summary-last-grid h1 {
	color: $primary-black-color;
	font-size: $font-s;
	font-style: normal;
	font-weight: $font-bold;
	line-height: normal;
	text-transform: uppercase;
}

.Summary-grand-total h1 {
	color: $primary-orange-color;
	font-size: $font-s;
	font-style: normal;
	font-weight: $font-bold;
	line-height: normal;
	text-transform: uppercase;
}

.Summary-last-grid p,
.Summary-grand-total p {
	color: $primary-black-color;
	text-transform: uppercase;
	font-size: $font-xs;
	font-style: normal;
	font-weight: $font-medium;
	line-height: 25px;
	opacity: 0.5;
}

@media (min-width: 576px) {
	.Checkout-container {
		max-width: 100vw;
	}

	.Checkout-wrapper {
		max-width: 689px;
		margin: 0px auto;
	}

	.Checkout-form {
		max-width: 689px;
		height: 1200px;
		background-color: $primary-white-color;
		border-radius: 8px;
		padding: 24px 0;
		margin-bottom: 32px;
	}

	.Checkout-form-wrapper {
		max-width: 634px;
		height: 1200px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		gap: 61px;
		text-align: left;
	}

	.Checkout-main-text {
		font-size: 32px;
		line-height: 36px;
		letter-spacing: 1.143px;
	}

	.Form-fields {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 16px;
	}

	.Form-diff-group {
		grid-column: 1 / span 2;
	}

	.Form-group input[type='text'] {
		width: 309px;
	}

	.Form-diff-group input[type='text'] {
		padding-left: 24px;
		max-width: 634px;
	}

	.Form-input-checkbox {
		width: 308px;
	}

	.Payment-details {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.Payment-details-option {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	.Show-emoney {
		display: flex;
		flex-direction: row;
		gap: 16px;
	}

	.Show-cash {
		display: flex;
		flex-direction: row;
		gap: 32px;
	}

	.Show-cash p {
		max-width: 550px;
	}

	// Summary

	.Summary-container {
		max-width: 689px;
		// height: 612px;
		padding: 24px 0;
		margin-bottom: 116px;
	}

	.Summary-wrapper {
		max-width: 634px;
		height: 100%;
	}

	.Summary-img-section {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 16px;
	}
}

@media (min-width: 992px){
	.Checkout-container {
		width: 100vw;
		margin: 0px auto;
	}

	.Checkout-wrapper {
		max-width: $desktop-inner-width;
		margin: 0px auto;
	}

	.Checkout-main-grid {
		max-width: $desktop-inner-width;
		display: flex;
		flex-direction: row;
		gap: 30px;
		margin-bottom: 141px;
	}

	.Checkout-form {
		max-width: 730px;
		height: 1126px;
		background-color: $primary-white-color;
		border-radius: 8px;
		padding: 24px 0;
		margin-bottom: 32px;
		// padding: 24px 0;
	}

	.Checkout-form-wrapper {
		width: 634px;
		height: 100%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		gap: 61px;
		text-align: left;
	}

	.Checkout-main-text {
		font-size: 32px;
		line-height: 36px;
		letter-spacing: 1.143px;
	}

	.Form-fields {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 16px;
	}

	.Form-diff-group {
		grid-column: 1 / span 2;
	}

	.Form-group input[type='text'] {
		max-width: 309px;
	}

	.Form-diff-group input[type='text'] {
		padding-left: 24px;
		max-width: 634px;
	}

	.Form-input-checkbox {
		width: 308px;
	}

	.Payment-details {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.Payment-details-option {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	.Show-emoney {
		display: flex;
		flex-direction: row;
		gap: 16px;
	}

	.Show-cash {
		display: flex;
		flex-direction: row;
		gap: 32px;
	}

	.Show-cash p {
		max-width: 550px;
	}

	// Summary

	.Summary-container {
		max-width: 350px;
		height: 612px;
		padding: 24px 0;
	}

	.Summary-wrapper {
		max-width: 284px;
		height: 100%;
	}

	.Summary-img-section {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 16px;
	}
}

