@import '../App.scss';

.Footer-container {
	width: 375px;
	height: 654px;
	background-color: $secondary-black-color;
}

.Footer-wrapper {
	width: 327px;
	margin: 25px auto;
	height: 100%;
	position: relative;
}

.Footer-outer-grid {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 52px 0;
}

.Footer-Logo {
	width: 143px;
	height: 25px;
	flex-shrink: 0;
	font-size: $font-s;
	font-weight: $font-bold;
}

.Footer-lists {
	display: inline-flex;
	padding-right: 0px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 16px;
	margin: 48px 0;
}

.Footer-lists > li {
	color: $primary-white-color;
	font-size: $font-xxxs;
	font-style: normal;
	font-weight: $font-bold;
	line-height: 25px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.Footer-paragraph {
	color: $primary-white-color;
	text-align: center;
	font-size: $font-xs;
	font-style: normal;
	font-weight: $font-medium;
	line-height: 25px;
	opacity: 0.5;
	margin-bottom: 48px;
}

.Footer-copyright {
	color: $primary-white-color;
	font-family: Manrope;
	font-size: $font-xs;
	font-style: normal;
	font-weight: $font-bold;
	line-height: 25px;
	opacity: 0.5;
	margin-bottom: 48px;
}

.Footer-icons {
	display: flex;
	gap: 16px;
	width: 104px;
	height: 24px;
	flex-shrink: 0;
}

.Footer-icons > * {
	font-size: 25px;
}

.Footer-border {
	width: 101px;
	height: 4px;
	flex-shrink: 0;
	background-color: $primary-orange-color;
	position: absolute;
	top: 0;
}
