@use '../App' as *;

.Footer-container {
	max-width: 100vw;
	background-color: $secondary-black-color;
	height: 100%;
}

.Footer-wrapper {
	max-width: $mobile-inner-width;
	margin: auto;
	padding: 0 24px;
	position: relative;
}

.Footer-top-grid {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.Footer-outer-grid {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 52px 0 0;
}

.Footer-Logo {
	height: 25px;
	flex-shrink: 0;
	font-size: $font-m;
	font-weight: $font-bold;
	color: $primary-white-color;
	cursor: pointer;

	&:hover {
		color: $primary-orange-color;
	}
}

.Footer-lists {
	display: inline-flex;
	padding-right: 0px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 16px;
	margin: 48px 0;
}

.Footer-lists > li {
	color: $primary-white-color;
	font-size: $font-xxxs;
	font-style: normal;
	font-weight: $font-bold;
	line-height: 25px;
	letter-spacing: 2px;
	text-transform: uppercase;
	cursor: pointer;

	&:hover {
		color: $primary-orange-color;
	}
}

.Footer-paragraph {
	color: $primary-white-color;
	text-align: center;
	font-size: $font-xs;
	font-style: normal;
	font-weight: $font-medium;
	line-height: 25px;
	opacity: 0.5;
}

.Footer-bottom-grid {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 48px;
	margin-bottom: 38px;
}

.Footer-copyright {
	color: $primary-white-color;
	font-size: $font-xs;
	font-style: normal;
	font-weight: $font-bold;
	line-height: 25px;
	opacity: 0.5;
}

.Footer-icons {
	display: flex;
	gap: 16px;
	max-width: 104px;
	height: 24px;
	flex-shrink: 0;
}

.Footer-icons > * {
	color: $primary-white-color;
	font-size: 25px;
	cursor: pointer;

	&:hover {
		color: $primary-orange-color;
	}
}

.Footer-border {
	width: 101px;
	height: 4px;
	flex-shrink: 0;
	background-color: $primary-orange-color;
	position: absolute;
	top: 0;
}

@media (min-width: 768px) {
	.Footer-container {
		width: 100vw;
	}

	.Footer-wrapper {
		max-width: $tablet-inner-width;
		padding-bottom: 48px;
	}

	.Footer-top-grid {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
	}

	.Footer-outer-grid {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.Footer-lists {
		display: inline-flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 34px;
		margin: 32px 0;
	}

	.Footer-paragraph {
		text-align: left;
	}

	.Footer-bottom-grid {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		gap: 80px;
	}
}

@media (min-width: 1110px) {
	.Footer-container {
		width: 100%;
		height: 365px;
		padding: 0 39px;
	}

	.Footer-wrapper {
		max-width: $desktop-inner-width;
		height: 100%;
	}

	.Footer-outer-grid {
		height: 100%;
		max-width: $desktop-inner-width;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 0;
	}

	.Footer-top-grid {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding-top: 41px;
	}

	.Footer-lists {
		display: inline-flex;
		flex-direction: row;
		gap: 34px;
	}

	.Footer-paragraph {
		text-align: left;
		margin-bottom: 80px;
		width: 540px;
	}

	.Footer-bottom-grid {
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		position: relative;
	}

	.Footer-bottom-second {
		position: absolute;
		bottom: -10px;
	}
}
