@import '../App.scss';

.Header-background {
	background: url('../assets/home/mobile/image-header.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 375px;
	height: 600px;
	color: $primary-white-color;
}

.Header-overlay {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.Header-paragraph {
	text-align: center;
	font-size: $font-xxs;
	font-style: normal;
	font-weight: $font-regular;
	line-height: normal;
	letter-spacing: 10px;
	text-transform: uppercase;
	opacity: 0.4964;
	margin-bottom: 16px;
}

.Header-main-text {
	text-align: center;
	font-size: 36px;
	font-style: normal;
	font-weight: $font-bold;
	line-height: 40px; /* 111.111% */
	letter-spacing: 1.286px;
	text-transform: uppercase;
	width: 328px;
	margin-bottom: 24px;
}

.Header-sub-text {
	text-align: center;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: 25px; /* 166.667% */
	width: 328px;
	margin-bottom: 24px;
}
