@import '../App.scss';

.Header-background {
	background: url('../assets/home/mobile/image-header.jpg');
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	width: 100vw;
	height: 600px;
	color: $primary-white-color;
}

.Header-wrapper {
	max-width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.Header-content {
	max-width: 328px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.Header-paragraph {
	text-align: center;
	font-size: $font-xxs;
	font-style: normal;
	font-weight: $font-regular;
	line-height: normal;
	letter-spacing: 10px;
	text-transform: uppercase;
	opacity: 0.4964;
	margin: 108px 0 16px;
}

.Header-main-text {
	text-align: center;
	font-size: $font-xl;
	font-style: normal;
	font-weight: $font-bold;
	line-height: 40px;
	letter-spacing: 1.286px;
	text-transform: uppercase;
	max-width: 328px;
	margin-bottom: 24px;
}

.Header-sub-text {
	text-align: center;
	font-size: 15px;
	font-style: normal;
	font-weight: $font-medium;
	line-height: 25px;
	max-width: 328px;
	margin-bottom: 28px;
	opacity: 0.75;
}

@media (min-width: 576px) {
	.Header-background {
		background: url('../assets/home/tablet/image-header.jpg');
		background-repeat: no-repeat;
		background-position: top;
		background-size: cover;
		width: 100vw;
		height: 800px;
	}

	.Header-wrapper {
		max-width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.Header-content {
		max-width: $tablet-width;
	}

	.Header-main-text {
		font-size: $font-xxxl;
		line-height: 58px;
		letter-spacing: 2px;
	}

	.Header-sub-text {
		max-width: 349px;
	}
}

@media (min-width: 992px) {
	.Header-background {
		background: url('/assets/home/desktop/image-hero.jpg');
		background-repeat: no-repeat;
		background-position: top;
		background-size: cover;
		width: 100vw;
		height: 729px;
	}

	.Header-wrapper {
		max-width: $desktop-inner-width;
		height: 100%;
		display: flex;
		flex-direction: row;
		margin: 0 auto;
		padding: 0 39px;
	}

	.Header-content {
		text-align: left;
		height: 346px;
		width: 400px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-left: 0;
	
	}

	.Header-main-text {
		font-style: normal;
		text-align: left;
		font-weight: $font-bold;
		font-size: 56px;
		line-height: 58px;
		letter-spacing: 2px;
		text-transform: uppercase;
		max-width: 396px;
		height: 116px;
	}

	.Header-sub-text {
		text-align: left;
		font-size: 15px;
		font-style: normal;
		font-weight: $font-medium;
		line-height: 25px;
		max-width: 349px;
		height: 75px;
		margin-bottom: 28px;
	}
}
