@import '../App.scss';

.Header-background {
	background: url('../images/home/mobile/image-header.jpg');
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	background-color: $tertiary-black-color;
	width: 375px;
	height: 600px;
	color: $primary-white-color;
}

.Header-overlay {
	height: 100%;
	width: 375px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.Header-paragraph {
	text-align: center;
	font-size: $font-xxs;
	font-style: normal;
	font-weight: $font-regular;
	line-height: normal;
	letter-spacing: 10px;
	text-transform: uppercase;
	opacity: 0.4964;
	margin: 108px 0 16px;
}

.Header-main-text {
	text-align: center;
	font-size: 36px;
	font-style: normal;
	font-weight: $font-bold;
	line-height: 40px;
	letter-spacing: 1.286px;
	text-transform: uppercase;
	width: 328px;
	margin-bottom: 24px;
}

.Header-sub-text {
	text-align: center;
	font-size: 15px;
	font-style: normal;
	font-weight: $font-medium;
	line-height: 25px;
	width: 328px;
	margin-bottom: 28px;
	opacity: 0.75;
}
