@import '../App.scss';

.List-lists {
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 16px;
	margin-top: 20px;
}


@media (min-width: 375px) and (max-width: 768.217px) {
	.List-lists {
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 10px;
		margin-top: 80px;
	}
}

@media (min-width: 768.217px) and (max-width: 1440px) {
	.List-lists {
		display: flex;
		flex-direction: row;
		gap: 30px;
		margin-top: 80px;
	}
	
}

@media (min-width: 1440px) {
	.List-lists {
		display: flex;
		flex-direction: row;
		gap: 30px;
		margin-top: 80px;
	}
	
}