@import '../App.scss';

.ListItem-container {
	margin-top: 50px;
	flex-shrink: 0;
}

.ListItem-wrapper {
	background-color: $tertiary-white-color;
	height: 165px;
	border-radius: $border-radius;
}

.ListItem-lists {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

.ListItem-img {
	width: auto;
	height: 104px;
	position: absolute;
	top: -40px;
}

.List-main-text {
	color: $primary-black-color;
	text-align: center;
	font-size: $font-xs;
	font-style: normal;
	font-weight: $font-bold;
	line-height: normal;
	letter-spacing: 1.071px;
	text-transform: uppercase;
	margin-bottom: 17px;
	margin-top: 80px;
}

.List-btn-lists {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 13.322px;
	margin-bottom: 22px;

	&:hover {
		color: $primary-orange-color;
		cursor: pointer;
	}
}

.List-sub-text {
	color: $primary-black-color;
	font-size: $font-xxxs;
	font-style: normal;
	font-weight: $font-bold;
	line-height: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
	opacity: 0.5;

	&:hover {
		color: $primary-orange-color;
		opacity: 1;
	}
}

@media (min-width: 768px) {
	.List-main-text {
		margin-top: 36px;
	}

	.ListItem-lists {
		min-width: 210px;
	}
}

@media (min-width: 1110px) {
	.ListItem-lists {
		width: 290px;
	}

	.ListItem-img::after {
		content: '';
		position: absolute;
		left: 10%;
		right: 10%;
		bottom: -15px;
		height: 20px;
		background: radial-gradient(
			ellipse at center,
			rgba(0, 0, 0, 0.2) 0%,
			transparent 80%
		);
		border-radius: 50%;
	}

	.List-main-text {
		font-size: $font-s;
		font-style: normal;
		font-weight: $font-bold;
		letter-spacing: 1.286px;
		margin-bottom: 17px;
		margin-top: 36px;
	}
}
