@import '../App.scss';

.List-lists {
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 16px;
	width: 100%;
}


@media (min-width: 768px) {
	.List-lists {
		display: flex;
		width: 100%;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		gap: 10px;
	}
}

@media (min-width: 1110px){
	.List-lists {
		display: flex;
		flex-direction: row;
		max-width: $desktop-inner-width;
		align-items: center;
		gap: 30px;
	}
	
}
