@import '../App.scss';

.Menu-container {
	width: 375px;
	height: 4340px;
	position: absolute;
	top: 90px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: none;
	background: rgba(0, 0, 0, 0.4);
}

.Menu-container-toggle {
	display: none;
}

.Menu-wrapper {
	z-index: 100;
	height: 100%;
	width: 100%;
	position: fixed;
	background-color: $primary-white-color;
	padding: 0 0 35px;
}

.Menu-lists {
	width: 327px;
	margin: auto;
	padding: 20px 0;
}

@media (min-width: 375px) and (max-width: 768.217px) {
	.Menu-container {
		width: $tablet-width;
		// height: 3700px;
	}

	.Menu-container-toggle {
		display: none;
	}

	.Menu-lists {
		width: $tablet-inner-width;
		margin: auto;
		padding: 10px 0;
	}
}

@media (min-width: 768.217px) and (max-width: 1440px) {
	.Menu-container {
		display: none;
	}
}

@media (min-width: 1440px) {
	.Menu-container {
		display: none;
	}
}

