@import '../App.scss';

.Menu-container {
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 90px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.4);
}

.Menu-wrapper {
	z-index: 100;
	height: 100%;
	width: 100%;
	position: fixed;
	background-color: $primary-white-color;
}

.Menu-lists {
	width: 327px;
	margin: auto;
	padding: 20px 0;
}

@media (min-width: 768px) {
	.Menu-lists {
		width: 327px;
		margin: auto;
		padding: 10px 0;
	}
}

@media (min-width: 1110px) {
	.Menu-container-toggle {
		display: none;
	}

	.Menu-container{
		display: none;
	}
}
