@import '../App.scss';

.Middle-container {
	max-width: 100vw;
}

.Middle-wrapper {
	max-width: $mobile-width;
	margin: 0 auto;
	padding: 74px 14px 0;
}

.Card-1 {
	width: 100%;
	display: flex;
	flex-direction: column;
	height: 600px;
	border-radius: $border-radius;
	background: $primary-orange-color;
	margin-top: 118px;
	position: relative;
}

.Circle2 {
	height: 320px;
	border-radius: 320px;
	border: 1px solid rgba(255, 255, 255, 0.2);
}

.Circle3 {
	height: 279px;
	border-radius: 279px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	margin: 21px 21px 20px 20px;
}

.Inner-card-grid {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.Inner-img {
	max-width: 172.248px;
	height: 207px;
	flex-shrink: 0;
	background: url('../assets/home/mobile/image-speaker-zx9.png'), no-repeat;
	background-size: cover;
	background-position: center;
	margin: 36px auto;
}

.Inner-card-main-text {
	color: $primary-white-color;
	text-align: center;
	font-size: 36px;
	font-style: normal;
	font-weight: $font-bold;
	line-height: 40px;
	letter-spacing: 1.286px;
	text-transform: uppercase;
	max-width: 280px;
	margin: 0 24px;
}

.Inner-card-paragraph {
	max-width: 280px;
	color: $primary-white-color;
	text-align: center;
	font-size: $font-xxs;
	font-style: normal;
	font-weight: $font-medium;
	line-height: 25px;
	opacity: 0.75;
	margin: 24px 0;
}

.Card-2 {
	background: url('../assets/home/mobile/image-speaker-zx7.jpg'), no-repeat;
	background-size: cover;
	background-position: center;
	height: 352px;
	flex-shrink: 0;
	margin: 20px 0;
	border-radius: $border-radius;
}

.Inner-card-2-grid {
	height: 100%;
	display: inline-flex;
	padding-right: 0px;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 32px;
	margin-left: 24px;
}

.Inner-card-2-main-text {
	color: $primary-black-color;
	font-size: $font-l;
	font-style: normal;
	font-weight: $font-bold;
	line-height: normal;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.Card-3-4-grid {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
}

.Card-3-cover {
	width: 100%;
}

.Card-3 {
	background: url('../assets/home/mobile/image-earphones-yx1.jpg'), no-repeat;
	background-size: cover;
	background-position: center;
	height: 320px;
	flex-shrink: 0;
	border-radius: $border-radius;
}

.Card-4 {
	height: 320px;
	flex-shrink: 0;
	border-radius: $border-radius;
	background: $tertiary-white-color;
}

.Card-4-cover {
	width: 100%;
}

.Inner-card-4-grid {
	height: 100%;
	display: inline-flex;
	padding-right: 0px;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 32px;
	margin-left: 24px;
}

@media (min-width: 768px) {
	.Middle-container {
		width: 100vw;
	}

	.Middle-wrapper {
		max-width: $tablet-width;
		margin: 0 auto;
		padding: 74px 39px 0;
	}

	.Card-1 {
		max-width: $tablet-width;
		height: 720px;
		position: relative;
		margin: 96px 0 0;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.Circle1 {
		width: 542px;
		height: 542px;
		flex-shrink: 0;
		border-radius: 542px;
		margin-top: -52px;
	}

	.Circle2 {
		width: 542px;
		height: 542px;
		flex-shrink: 0;
		border-radius: 542px;
		margin: 0 auto;
	}

	.Circle3 {
		width: 472px;
		height: 472px;
		flex-shrink: 0;
		border-radius: 472px;
		margin: 35px;
	}

	.Outer-layer {
		height: 689px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 52px;
		gap: 34px;
	}

	.Inner-img {
		min-width: 197px;
		height: 237px;
		background: url('../assets/home/tablet/image-speaker-zx9.png'), no-repeat;
		background-size: cover;
		background-position: center;
		margin: 0 auto;
	}

	.Inner-card-grid {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: $tablet-width;
		gap: 4px;
	}

	.Inner-card-main-text {
		font-size: $font-xxxl;
		line-height: 58px;
		letter-spacing: 2px;
		text-transform: uppercase;
	}

	.Inner-card-paragraph {
		max-width: 349px;
		height: 75px;
		font-size: $font-xs;
	}

	.Card-2 {
		background: url('../assets/home/tablet/image-speaker-zx7.jpg'), no-repeat;
		background-size: cover;
		background-position: center;
		max-width: $tablet-inner-width;
		height: 352px;
		margin: 25px 0;
	}

	.Inner-card-2-grid {
		margin-left: 62.5px;
	}

	.Card-3-cover {
		width: 100%;
	}

	.Card-3-4-grid {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-wrap: nowrap;
		gap: 10px;
		max-width: $tablet-inner-width;
	}

	.Card-3 {
		background: url('../assets/home/tablet/image-earphones-yx1.jpg'), no-repeat;
		background-size: cover;
		background-position: center;
		max-width: 339px;
		height: 320px;
	}

	.Card-4-cover {
		width: 100%;
	}

	.Card-4 {
		max-width: 339px;
		height: 320px;
		flex-shrink: 0;
		border-radius: $border-radius;
		background: $tertiary-white-color;
	}

	.Inner-card-4-grid {
		height: 100%;
		display: inline-flex;
		padding-right: 0px;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		gap: 32px;
		margin-left: 41px;
	}
}

@media (min-width: 1110px) {
	.Middle-container {
		width: 100vw;
	}

	.Middle-wrapper {
		max-width: $desktop-inner-width;
		padding: 74px 39px 0;
	}

	.Card-1 {
		max-width: $desktop-inner-width;
		height: 560px;
		display: flex;
		flex-direction: row;
	}

	.Circle1 {
		flex-shrink: 0;
		margin: 0;
		margin-bottom: -319px;
	}

	.Circle2 {
		width: 542px;
		height: 542px;
		flex-shrink: 0;
		border-radius: 542px;
		margin: 0 40px;
	}

	.Circle3 {
		width: 472px;
		height: 472px;
		flex-shrink: 0;
		border-radius: 472px;
		margin: 35px;
	}

	.Outer-layer {
		height: 560px;
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		margin: 80px auto 0;
		gap: 130px;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		padding: 0 14px;
	}

	.Inner-img {
		min-width: 400px;
		max-width: 410px;
		height: 493px;
		background: url('../assets/home/desktop/image-speaker-zx9.png'), no-repeat;
		background-size: cover;
		background-position: center;
		margin-left: 100px;
	}

	.Inner-card-grid {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 50%;
		margin-top: 15px;
		gap: 4px;
	}

	.Inner-card-main-text {
		font-size: $font-xxxl;
		line-height: 58px;
		letter-spacing: 2px;
		text-transform: uppercase;
	}

	.Inner-card-paragraph {
		max-width: 349px;
		height: 75px;
		font-size: $font-xs;
	}

	.Card-1::after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: -25px;
		height: 26px;
		background-color: $secondary-white-color;
		z-index: 10;
	}

	.Inner-card-main-text {
		font-size: $font-xxxl;
		line-height: 58px;
		letter-spacing: 2px;
		text-transform: uppercase;
		text-align: left;
		margin: 0;
	}

	.Inner-card-paragraph {
		max-width: 349px;
		height: 75px;
		font-size: $font-xs;
		text-align: left;
	}

	.Card-2 {
		background: url('../assets/home/desktop/image-speaker-zx7.jpg'), no-repeat;
		background-size: cover;
		background-position: center;
		max-width: $desktop-inner-width;
		height: 352px;
		margin: 40px 0;
	}

	.Inner-card-2-grid {
		margin-left: 82.5px;
	}

	.Card-3-4-grid {
		max-width: $desktop-inner-width;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		margin: 0;
	}

	.Card-3 {
		background: url('../assets/home/desktop/image-earphones-yx1.jpg'), no-repeat;
		background-size: cover;
		background-position: center;
		max-width: 540px;
		height: 320px;
	}

	.Card-4 {
		max-width: 540px;
		height: 320px;
		flex-shrink: 0;
		border-radius: $border-radius;
		background: $tertiary-white-color;
	}

	.Inner-card-4-grid {
		height: 100%;
		display: inline-flex;
		padding-right: 0px;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		gap: 32px;
		margin-left: 95px;
	}
}
