@import '../App.scss';

.Middle-grid {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 100px 0 120px;
	gap: 32px;
}

.Middle-texts {
	display: flex;
	flex-direction: column;
}

.Card-5-cover {
	width: 100%;
}

.Card-5 {
	background: url('../../public/assets/home/mobile/image-best-gear.jpg'),
		no-repeat;
	background-size: cover;
	background-position: center;
	height: 250px;
	width: 100%;
	border-radius: $border-radius;
}

.Middle-texts {
	gap: 32px;
}

.Middle-main-text {
	max-width: 327px;
	color: $primary-black-color;
	text-align: center;
	font-size: $font-l;
	font-style: normal;
	font-weight: $font-bold;
	line-height: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.Middle-main-text .Text-colored {
	color: $primary-orange-color;
}

.Middle-paragraph {
	max-width: 327px;
	color: $primary-black-color;
	text-align: center;
	font-size: $font-xs;
	font-style: normal;
	font-weight: $font-medium;
	line-height: 25px;
	opacity: 0.5;
}

@media (min-width: 768px) {
	.Middle-grid {
		gap: 52px;
	}

	.Card-5 {
		background: url('../../public/assets/home/tablet/image-best-gear.jpg'),
			no-repeat;
		background-size: cover;
		background-position: center;
		height: 300px;
		border-radius: $border-radius;
	}

	.Middle-main-text {
		font-size: $font-xxl;
		max-width: 573px;
		line-height: 44px;
		letter-spacing: 1.429px;
	}

	.Middle-main-text .Text-colored {
		color: $primary-orange-color;
	}

	.Middle-paragraph {
		max-width: 573px;
		margin: 0 auto;
	}
}

@media (min-width: 1110px) {
	.Middle-grid {
		max-width: $desktop-inner-width;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 100px;
		margin: 160px 0;
		flex-wrap: nowrap;
	}

	.Middle-texts {
		order: 1;
		max-width: 445px;
		height: 295px;
	}

	.Card-5-cover {
		order: 2;
	}

	.Card-5 {
		background: url('../../public/assets/home/desktop/image-best-gear.jpg'),
			no-repeat;
		background-size: cover;
		background-position: center;
		max-width: 540px;
		height: 500px;
		border-radius: $border-radius;
	}

	.Card-5-cover {
		max-width: 445px;
	}

	.Middle-main-text {
		max-width: 445px;
		font-size: $font-xxl;
		line-height: 44px;
		letter-spacing: 1.429px;
		margin: 0 auto;
		text-align: left;
	}

	.Middle-main-text .Text-colored {
		color: $primary-orange-color;
	}

	.Middle-paragraph {
		max-width: 445px;
		text-align: left;
	}
}
