@import '../App.scss';
@import '../styles/Menu.scss';
@import './functions/functions';

.Nav-container {
	background-color: $tertiary-black-color;
	width: 100vw;
	position: fixed;
	z-index: 500;
	height: 90px;
}

.Nav-wrap {
	max-width: $mobile-inner-width;
	margin: 0 auto;
	padding: 0 1.5rem;
}

.Nav-lists {
	max-width: $mobile-inner-width;
	margin: 0 auto;
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	color: $primary-white-color;
	list-style: none;
}

.Chart {
	cursor: pointer;
}

.Logo {
	font-size: $font-s;
	font-weight: $font-bold;
	flex-shrink: 0;
}

.Horizontal-rule {
	height: 1px;
	opacity: 0.104;
	color: $primary-white-color;
	max-width: $mobile-inner-width;
	margin: 0 auto;
}

.Nav-links {
	display: none;
}

.closeMenu {
	font-size: 20px;
	font-weight: bold;
}

@media (min-width: 768px) {
	.Nav-container {
		width: 100vw;
	}

	.Nav-wrap {
		max-width: $tablet-inner-width;
		margin: 0 auto;
		padding: 0 39px;
	}

	.Nav-lists {
		max-width: $tablet-inner-width;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.Logo {
		margin-right: 42px;
	}

	.Horizontal-rule {
		height: 1px;
		opacity: 0.104;
		color: $primary-white-color;
		max-width: $tablet-inner-width;
		margin: 0 auto;
	}
}

@media (min-width: 1110px) {
	.Nav-container {
		width: 100vw;
		margin: 0 auto;
	}

	.Nav-wrap {
		max-width: $desktop-inner-width;
		margin: 0 auto;
		padding: 0 40px;
	}

	.Horizontal-rule {
		height: 1px;
		opacity: 0.104;
		color: $primary-white-color;
		max-width: $desktop-inner-width;
		margin: 0 auto;
	}

	.Nav-lists {
		max-width: $desktop-inner-width;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.Hamburger {
		display: none;
	}

	.Hamburger-cover {
		display: none;
	}

	.Nav-links {
		display: inline-flex;
		padding-right: 0px;
		justify-content: center;
		align-items: flex-start;
		gap: 34px;
		padding-bottom: 1px;
	}

	.Nav-links li a:hover {
		border-bottom: 1px solid $primary-white-color;
		padding-bottom: 1px;
	}

	.Logo {
		margin: 0;
	}

	.Logo a:hover {
		border-bottom: 1px solid $primary-white-color;
		padding-bottom: 1px;
	}

	.Chart svg:hover {
		border-bottom: 1px solid $primary-white-color;
		padding-bottom: 2px;
	}
}