@import '../App.scss';
@import '../styles/Menu.scss';
@import './functions/functions';

.Nav-container {
	background-color: $tertiary-black-color;
	width: 100vw;
	position: fixed;
	z-index: 500;
	height: 90px;
}

.Nav-lists {
	max-width: $mobile-width;
	margin: 0 auto;
	padding: 0 1.5rem;
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	color: $primary-white-color;
	list-style: none;
}

.Chart {
	cursor: pointer;
}

.Logo {
	font-size: $font-m;
	font-weight: $font-bold;
	flex-shrink: 0;
}

.Horizontal-rule {
	height: 1px;
	opacity: 0.104;
	color: $primary-white-color;
}

.Nav-links {
	display: none;
}

@media (min-width: 576px){
	.Nav-container {
		width: 100vw;
	}

	.Nav-lists {
		max-width: $tablet-width;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 39px;
	}

	.Logo {
		margin-right: 42px;
	}
}

// @media (min-width: 768px) {
// 	.Nav-container {
// 		max-width: $desktop-width;
// 		margin: 0 auto;
// 	}

// 	.Nav-lists {
// 		max-width: $desktop-inner-width;
// 		display: flex;
// 		align-items: center;
// 		justify-content: space-between;
// 		margin: 0 auto;
// 		padding: 0 24px;
// 	}

// 	.Hamburger {
// 		display: none;
// 	}

// 	.Nav-links {
// 		display: inline-flex;
// 		padding-right: 0px;
// 		justify-content: center;
// 		align-items: flex-start;
// 		gap: 34px;
// 		padding-bottom: 1px;
// 	}

// 	.Nav-links li a:hover {
// 		border-bottom: 1px solid $primary-white-color;
// 		padding-bottom: 1px;
// 	}

// 	.Logo {
// 		margin: 0;
// 	}

// 	.Logo a:hover {
// 		border-bottom: 1px solid $primary-white-color;
// 		padding-bottom: 1px;
// 	}

// 	.Chart svg:hover {
// 		border-bottom: 1px solid $primary-white-color;
// 		padding-bottom: 2px;
// 	}
// }

@media (min-width: 992px) {
	.Nav-container {
		width: 100vw;
		margin: 0 auto;
	}

	.Nav-lists {
		max-width: $desktop-inner-width;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 auto;
		padding: 0 40px;
	}

	.Hamburger {
		display: none;
	}

	.Nav-links {
		display: inline-flex;
		padding-right: 0px;
		justify-content: center;
		align-items: flex-start;
		gap: 34px;
		padding-bottom: 1px;
	}

	.Nav-links li a:hover {
		border-bottom: 1px solid $primary-white-color;
		padding-bottom: 1px;
	}

	.Logo {
		margin: 0;
	}

	.Logo a:hover {
		border-bottom: 1px solid $primary-white-color;
		padding-bottom: 1px;
	}

	.Chart svg:hover {
		border-bottom: 1px solid $primary-white-color;
		padding-bottom: 2px;
	}
}

// @media (min-width: 1200px) {
// 	.Nav-container {
// 		max-width: 100vw;
// 		margin: 0 auto;
// 	}

// 	.Nav-lists {
// 		max-width: $desktop-inner-width;
// 		display: flex;
// 		align-items: center;
// 		justify-content: space-between;
// 		margin: 0 auto;
// 		padding: 0 24px;
// 	}

// 	.Hamburger {
// 		display: none;
// 	}

// 	.Nav-links {
// 		display: inline-flex;
// 		padding-right: 0px;
// 		justify-content: center;
// 		align-items: flex-start;
// 		gap: 34px;
// 		padding-bottom: 1px;
// 	}

// 	.Nav-links li a:hover {
// 		border-bottom: 1px solid $primary-white-color;
// 		padding-bottom: 1px;
// 	}

// 	.Logo {
// 		margin: 0;
// 	}

// 	.Logo a:hover {
// 		border-bottom: 1px solid $primary-white-color;
// 		padding-bottom: 1px;
// 	}

// 	.Chart svg:hover {
// 		border-bottom: 1px solid $primary-white-color;
// 		padding-bottom: 2px;
// 	}
// }
