@use '../App' as *;

.Notice-container {
	width: $mobile-width;
	display: flex;
	height: 100vh;
	width: 100vw;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.Notice-wrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 200px;
	margin: 25px auto;
	background-color: $tertiary-black-color;
}

.Notice-message {
	height: 150px;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Notice-message h1 {
	color: $tertiary-white-color;
	text-align: center;
	font-size: $font-s;
	font-style: normal;
	font-weight: $font-bold;
	line-height: normal;
	letter-spacing: 2px;
}

.Notice-link {
	color: $primary-orange-color;
}

.Notice-link:hover {
	border-bottom: 1px solid $primary-orange-color;
}
