@import '../App.scss';

.Status-container {
	width: 100vw;
	height: 100vh;
	background-color: #f3d4c3;
}

.Status-cover {
	max-width: $mobile-width;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	height: 100%;
	padding: 0 24px;
}

.Status-wrapper {
	max-width: $mobile-inner-width;
	background-color: $primary-white-color;
	margin: 0 auto;
	padding: 32px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
}

.Status-main-text {
	color: $primary-black-color;
	font-size: $font-m;
	font-style: normal;
	font-weight: $font-bold;
	line-height: 28px;
	letter-spacing: 0.857px;
	text-transform: uppercase;
	margin-bottom: 16px;
}

.Status-sub-text {
	color: $primary-black-color;
	font-size: $font-xs;
	font-style: normal;
	font-weight: $font-medium;
	line-height: 25px;
	opacity: 0.5;
	margin-bottom: 24px;
}

.Status-inner-grid-wrapper {
	max-width: 263px;
	flex-shrink: 0;
	display: grid;
	grid-template-columns: 1fr;
	margin-bottom: 23px;
}

.Separator {
	max-width: 263px;
	flex-shrink: 0;
	display: grid;
	grid-template-columns: 1fr;
	background-color: $tertiary-white-color;
	border-radius: 8px 8px 0 0;
}

.Status-inner-grid {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 24px 24px 0;
	justify-content: space-between;
	align-items: flex-start;
}

.Status-img-section {
	display: flex;
	flex-direction: row;
	gap: 27px;
	justify-content: flex-start;
}

.Status-total {
	background-color: $primary-black-color;
	max-width: 263px;
	border-radius: 0px 0px 8px 8px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 15px 24px;
}

.Status-hr {
	max-width: 215px;
	height: 1px;
	flex-shrink: 0;
	opacity: 0.08;
	background: $primary-black-color;
	margin: 0 auto;
}

.Status-more-items {
	color: $primary-black-color;
	font-size: 12px;
	font-style: normal;
	font-weight: $font-bold;
	line-height: normal;
	letter-spacing: -0.214px;
	opacity: 0.5;
	text-align: center;
	margin: 12px 0 20px;
}

.Status-total h1 {
	max-width: 134px;
	color: $primary-white-color;
	font-size: $font-xs;
	font-style: normal;
	font-weight: $font-medium;
	line-height: 25px;
	opacity: 0.5;
	text-transform: uppercase;
}

.Status-total div {
	color: $primary-white-color;
	font-size: $font-s;
	font-style: normal;
	font-weight: $font-bold;
	line-height: normal;
	text-transform: uppercase;
	max-width: 86.238px;
}

.Status-quantity {
	color: $primary-black-color;
	text-align: right;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: 25px;
	opacity: 0.5;
}

.Status-inner-grid.View-less:not(:first-child) {
	display: none;
}

@media (min-width: 768px) {
	.Status-container {
		width: 100vw;
		height: 100vh;
		background-color: #f3d4c3;
	}

	.Status-cover {
		max-width: $tablet-inner-width;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		height: 100%;
		padding: 0 24px;
	}

	.Status-wrapper {
		max-width: 540px;
		padding: 48px;
	}

	.Status-main-text {
		font-size: $font-xl;
		line-height: 36px;
		letter-spacing: 1.143px;
		text-transform: uppercase;
		margin-bottom: 16px;
		width: 284px;
	}

	.Status-inner-grid-wrapper {
		max-width: 444px;
		flex-shrink: 0;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.Separator {
		max-width: 246px;
		flex-shrink: 0;
		display: grid;
		grid-template-columns: 1fr;
		border-radius: 8px 0 0 8px;
	}

	.Status-inner-grid {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: flex-start;
	}

	.Status-img-section {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: flex-start;
		gap: 0;
	}

	.Status-total {
		max-width: 198px;
		border-radius: 0px 8px 8px 0px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: 25px;
	}

	.Status-hr {
		max-width: 198px;
		height: 1px;
		margin: 0 auto;
	}
}
