@use '../App' as *;

.Product-container {
	width: 100vw;
	margin-bottom: 120px;
	padding-top: 90px;
}

.Product-wrapper {
	max-width: $mobile-width;
	margin: 0px auto;
	padding: 0 24px;
}

.Category-product-grid {
	display: flex;
	max-width: $mobile-inner-width;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 32px;
}

.Lg-font-product {
	color: #000;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 36px;
	letter-spacing: 0.857px;
	text-transform: uppercase;
}

.Md-font-product {
	color: #000;
	text-align: center;
	font-family: Manrope;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 1.714px;
	text-transform: uppercase;
}

.Category-feature-grid {
	display: flex;
	max-width: $mobile-inner-width;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin: 88px 0;
	gap: 88px;
}

.Category-feature {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.Product-box {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.Margin-lg {
	margin-top: 88px;
}

.Product-card-grid {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
}

.Product-in-the-box {
	display: flex;
	gap: 21px;
	flex-shrink: 0;
	margin-bottom: 8px;
}

.Product-in-the-box span {
	color: #d87d4a;
	font-family: Manrope;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: 25px;
}

.Product-image {
	width: 100%;
	height: 100%;
	border-radius: $border-radius;
	object-fit: cover;
}
// Image gallery

.Gallery {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
	height: auto;
	max-width: $mobile-inner-width;
}

.Gallery-card {
	max-width: 100%;
	height: 100%;
	flex-shrink: 0;
	border-radius: $border-radius;
}
// Similar product

@media (min-width: 768px) {
	.Product-container {
		width: 100vw;
		margin-bottom: 120px;
	}

	.Product-wrapper {
		max-width: $tablet-width;
		padding: 0 39px;
	}

	.Category-product-grid {
		display: flex;
		max-width: $tablet-inner-width;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 70px;
	}

	.Category-feature-grid {
		display: flex;
		max-width: $tablet-inner-width;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		margin: 120px 0;
		gap: 88px;
	}

	.Lg-font-product {
		color: #000;
		text-align: left;
		font-size: 32px;
		font-style: normal;
		font-weight: 700;
		line-height: 36px;
		letter-spacing: 1.143px;
		text-transform: uppercase;
		width: 339px;
	}

	.Md-font-product {
		color: #000;
		text-align: center;
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 1.714px;
		text-transform: uppercase;
	}

	.Category-feature {
		max-width: $tablet-inner-width;
		display: flex;
		flex-direction: column;
		gap: 32px;
	}

	.Product-box {
		max-width: $tablet-inner-width;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 30px;
	}

	.Margin-lg {
		margin-top: 88px;
	}

	.Product-card-grid {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		max-width: 339.5px;
		height: 390px;
		flex-shrink: 0;
		gap: 24px;
	}

	.Product-in-the-box {
		display: flex;
		gap: 21px;
		flex-shrink: 0;
		margin-bottom: 8px;
	}

	.Product-in-the-box span {
		color: #d87d4a;
		font-family: Manrope;
		font-size: 15px;
		font-style: normal;
		font-weight: 700;
		line-height: 25px;
	}

	.product-image-card {
		width: 281px;
		height: 480px;
	}

	// Image gallery
	.Gallery {
		max-width: $tablet-inner-width;
		height: 400px;
		display: grid;
		grid-template-columns: 1fr 1.2fr;
		grid-template-rows: 1fr 1fr;
		gap: 15px;
		align-items: center;
		justify-content: center;
	}

	.Gallery-card {
		max-width: 100%;
		height: 100%;
		flex-shrink: 0;
		border-radius: $border-radius;
	}

	.image-grow-2 {
		grid-row: 1 / span 2;
	}
}

@media (min-width: 1110px) {
	.Product-container {
		width: 100vw;
		margin-bottom: 120px;
	}

	.Product-wrapper {
		max-width: $desktop-inner-width;
		padding: 0 39px;
		margin: 0 auto;
	}

	.Category-product-grid {
		display: flex;
		max-width: $desktop-inner-width;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 88px;
	}

	.Category-feature-grid {
		display: flex;
		max-width: $desktop-inner-width;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
		gap: 88px;
	}

	.Lg-font-product {
		color: #000;
		text-align: left;
		font-size: 32px;
		font-style: normal;
		font-weight: 700;
		line-height: 36px;
		letter-spacing: 1.143px;
		text-transform: uppercase;
		max-width: 339px;
	}

	.Md-font-product {
		color: #000;
		text-align: center;
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 1.714px;
		text-transform: uppercase;
	}

	.Category-feature {
		max-width: 638px;
		display: flex;
		flex-direction: column;
		gap: 32px;
	}

	.Product-box {
		max-width: 350px;
		display: flex;
		flex-direction: column;
		gap: 32px;
	}

	.Margin-lg {
		margin-top: 88px;
	}

	.Product-card-grid {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		max-width: 445.5px;
		height: 407px;
		flex-shrink: 0;
		gap: 24px;
	}

	.Product-in-the-box {
		display: flex;
		gap: 21px;
		flex-shrink: 0;
		margin-bottom: 8px;
	}

	.Product-in-the-box span {
		color: #d87d4a;
		font-family: Manrope;
		font-size: 15px;
		font-style: normal;
		font-weight: 700;
		line-height: 25px;
	}

	.product-image-card {
		width: 500px;
		height: 560px;
	}

	// Image gallery
	.Gallery {
		max-width: $desktop-inner-width;
		height: 600px;
		display: grid;
		grid-template-columns: 1fr 1.2fr;
		grid-template-rows: 1fr 1fr;
		gap: 25px;
		align-items: center;
		justify-content: center;
	}

	.Gallery-card {
		max-width: 100%;
		height: 100%;
		flex-shrink: 0;
		border-radius: $border-radius;
	}

	.image-grow-2 {
		grid-row: 1 / span 2;
	}
}
