@import '../App.scss';

.Category-product-grid {
	display: flex;
	width: 327px;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 24px;
}

.Category-product-details {
	display: flex;
	flex-direction: column;
	gap: 88px;
}

.Product-in-the-box {
	display: flex;
	gap: 24px;
	flex-shrink: 0;
}

.Product-in-the-box span {
	color: #d87d4a;
	font-family: Manrope;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: 25px;
}

// Product 1d 4
.image-gallery-1-4 {
	background: url('../images/home/mobile/image-gallery-headphones-1.jpg'),
		no-repeat;
	background-size: cover;
	background-position: center;
	width: 327px;
	height: 200px;
	flex-shrink: 0;
	border-radius: $border-radius;
}
.image-gallery-2-4 {
	background: url('../images/home/mobile/image-gallery-headphones-2.jpg'),
		no-repeat;
	background-size: cover;
	background-position: center;
	width: 327px;
	height: 200px;
	flex-shrink: 0;
	border-radius: $border-radius;
}
.image-gallery-3-4 {
	background: url('../images/home/mobile/image-gallery-headphones-3.jpg'),
		no-repeat;
	background-size: cover;
	background-position: center;
	width: 327px;
	height: 352px;
	flex-shrink: 0;
	border-radius: $border-radius;
}

// Product 1d 1
.image-gallery-1-1 {
	background: url('../images/home/mobile/image-gallery-earphones-1.jpg'),
		no-repeat;
	background-size: cover;
	background-position: center;
	width: 327px;
	height: 200px;
	flex-shrink: 0;
	border-radius: $border-radius;
}
.image-gallery-2-1 {
	background: url('../images/home/mobile/image-gallery-earphones-2.jpg'),
		no-repeat;
	background-size: cover;
	background-position: center;
	width: 327px;
	height: 200px;
	flex-shrink: 0;
	border-radius: $border-radius;
}
.image-gallery-3-1 {
	background: url('../images/home/mobile/image-gallery-earphones-3.jpg'),
		no-repeat;
	background-size: cover;
	background-position: center;
	width: 327px;
	height: 352px;
	flex-shrink: 0;
	border-radius: $border-radius;
}

// Product 1d 2
.image-gallery-1-2 {
	background: url('../images/home/mobile/image-gallery-headphones2-1.jpg'),
		no-repeat;
	background-size: cover;
	background-position: center;
	width: 327px;
	height: 200px;
	flex-shrink: 0;
	border-radius: $border-radius;
}
.image-gallery-2-2 {
	background: url('../images/home/mobile/image-gallery-headphones2-2.jpg'),
		no-repeat;
	background-size: cover;
	background-position: center;
	width: 327px;
	height: 200px;
	flex-shrink: 0;
	border-radius: $border-radius;
}
.image-gallery-3-2 {
	background: url('../images/home/mobile/image-gallery-headphones2-3.jpg'),
		no-repeat;
	background-size: cover;
	background-position: center;
	width: 327px;
	height: 352px;
	flex-shrink: 0;
	border-radius: $border-radius;
}

// Product 1d 3
.image-gallery-1-3 {
	background: url('../images/home/mobile/image-gallery-headphones3-1.jpg'),
		no-repeat;
	background-size: cover;
	background-position: center;
	width: 327px;
	height: 200px;
	flex-shrink: 0;
	border-radius: $border-radius;
}
.image-gallery-2-3 {
	background: url('../images/home/mobile/image-gallery-headphones3-2.jpg'),
		no-repeat;
	background-size: cover;
	background-position: center;
	width: 327px;
	height: 200px;
	flex-shrink: 0;
	border-radius: $border-radius;
}
.image-gallery-3-3 {
	background: url('../images/home/mobile/image-gallery-headphones3-3.jpg'),
		no-repeat;
	background-size: cover;
	background-position: center;
	width: 327px;
	height: 352px;
	flex-shrink: 0;
	border-radius: $border-radius;
}

// Product 1d 5
.image-gallery-1-5 {
	background: url('../images/home/mobile/image-gallery-speakers-1.jpg'),
		no-repeat;
	background-size: cover;
	background-position: center;
	width: 327px;
	height: 200px;
	flex-shrink: 0;
	border-radius: $border-radius;
}
.image-gallery-2-5 {
	background: url('../images/home/mobile/image-gallery-speakers-2.jpg'),
		no-repeat;
	background-size: cover;
	background-position: center;
	width: 327px;
	height: 200px;
	flex-shrink: 0;
	border-radius: $border-radius;
}
.image-gallery-3-5 {
	background: url('../images/home/mobile/image-gallery-speakers-3.jpg'),
		no-repeat;
	background-size: cover;
	background-position: center;
	width: 327px;
	height: 352px;
	flex-shrink: 0;
	border-radius: $border-radius;
}

// Product 1d 6
.image-gallery-1-6 {
	background: url('../images/home/mobile/image-gallery-speakers2-1.jpg'),
		no-repeat;
	background-size: cover;
	background-position: center;
	width: 327px;
	height: 200px;
	flex-shrink: 0;
	border-radius: $border-radius;
}
.image-gallery-2-6 {
	background: url('../images/home/mobile/image-gallery-speakers2-2.jpg'),
		no-repeat;
	background-size: cover;
	background-position: center;
	width: 327px;
	height: 200px;
	flex-shrink: 0;
	border-radius: $border-radius;
}
.image-gallery-3-6 {
	background: url('../images/home/mobile/image-gallery-speakers2-3.jpg'),
		no-repeat;
	background-size: cover;
	background-position: center;
	width: 327px;
	height: 352px;
	flex-shrink: 0;
	border-radius: $border-radius;
}


// Similar products

.image-xx99 {
	background: url('../assets/shared/mobile/image-xx99-mark-one-headphones.jpg'),
		no-repeat;
	background-size: cover;
	background-position: center;
	width: 327px;
	height: 200px;
	flex-shrink: 0;
	border-radius: $border-radius;
}

.image-xx99 {
	background: url('../assets/shared/mobile/image-xx99-mark-two-headphones.jpg'),
		no-repeat;
	background-size: cover;
	background-position: center;
	width: 327px;
	height: 200px;
	flex-shrink: 0;
	border-radius: $border-radius;
}

.image-xx59 {
	background: url('../assets/shared/mobile/image-xx59-headphones.jpg'),
		no-repeat;
	background-size: cover;
	background-position: center;
	width: 327px;
	height: 200px;
	flex-shrink: 0;
	border-radius: $border-radius;
}
.image-zx9 {
	background: url('../assets/shared/mobile/image-zx9-speaker.jpg'),
		no-repeat;
	background-size: cover;
	background-position: center;
	width: 327px;
	height: 200px;
	flex-shrink: 0;
	border-radius: $border-radius;
}
.image-zx7 {
	background: url('../assets/shared/mobile/image-zx7-speaker.jpg'),
		no-repeat;
	background-size: cover;
	background-position: center;
	width: 327px;
	height: 200px;
	flex-shrink: 0;
	border-radius: $border-radius;
}


