@import '../App.scss';

.Similar-product-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 120px 0 50px;
	gap: 40px;
}

.Similar-product-grid {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: $mobile-inner-width;
}

.Similar-products {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 32px;
	margin-bottom: 56px;
}

.Similar-product-card {
	width: 327px;
	height: 120px;
	flex-shrink: 0;
	border-radius: $border-radius;
}

.image-xx99one {
	background: url('../assets/shared/mobile/image-xx99-mark-one-headphones.jpg'),
		no-repeat;
	background-size: cover;
	background-position: center;
}

.image-xx99two {
	background: url('../assets/shared/mobile/image-xx99-mark-two-headphones.jpg'),
		no-repeat;
	background-size: cover;
	background-position: center;
}

.image-xx59 {
	background: url('../assets/shared/mobile/image-xx59-headphones.jpg'),
		no-repeat;
	background-size: cover;
	background-position: center;
}

.image-zx9 {
	background: url('../assets/shared/mobile/image-zx9-speaker.jpg'), no-repeat;
	background-size: cover;
	background-position: center;
}

.image-zx7 {
	background: url('../assets/shared/mobile/image-zx7-speaker.jpg'), no-repeat;
	background-size: cover;
	background-position: center;
}

@media (min-width: 768px) {
	.Similar-product-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 563px;
		gap: 56px;
		margin-bottom: 88px;
	}

	.Similar-product-grid {
		display: flex;
		flex-direction: row;
		justify-content: center;
		max-width: $tablet-inner-width;
		margin-bottom: 120px;
		gap: 11px;
	}

	.Similar-products {
		max-width: 223px;
		height: 318px;
		flex-shrink: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 32px;
		margin-bottom: 56px;
	}

	.Similar-product-card {
		width: 223px;
		height: 318px;
	}

	.image-xx99one {
		background: url('../assets/shared/tablet/image-xx99-mark-one-headphones.jpg'),
			no-repeat;
		background-size: cover;
		background-position: center;
	}

	.image-xx99two {
		background: url('../assets/shared/tablet/image-xx99-mark-two-headphones.jpg'),
			no-repeat;
		background-size: cover;
		background-position: center;
	}

	.image-xx59 {
		background: url('../assets/shared/tablet/image-xx59-headphones.jpg'),
			no-repeat;
		background-size: cover;
		background-position: center;
	}

	.image-zx9 {
		background: url('../assets/shared/tablet/image-zx9-speaker.jpg'), no-repeat;
		background-size: cover;
		background-position: center;
	}

	.image-zx7 {
		background: url('../assets/shared/tablet/image-zx7-speaker.jpg'), no-repeat;
		background-size: cover;
		background-position: center;
	}
}

@media (min-width: 1110px) {
	.Similar-product-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 600px;
		gap: 64px;
		margin-bottom: 120px;
	}

	.Similar-product-grid {
		display: flex;
		flex-direction: row;
		justify-content: center;
		max-width: $desktop-inner-width;
		gap: 30px;
		height: 471px;
	}

	.Similar-products {
		max-width: 350px;
		height: 471px;
		flex-shrink: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 40px;
		margin-bottom: 56px;
	}

	.Similar-product-card {
		min-width: 300px;
		height: 318px;
	}

	.image-xx99one {
		background: url('../assets/shared/desktop/image-xx99-mark-one-headphones.jpg'),
			no-repeat;
		background-size: cover;
		background-position: center;
	}

	.image-xx99two {
		background: url('../assets/shared/desktop/image-xx99-mark-two-headphones.jpg'),
			no-repeat;
		background-size: cover;
		background-position: center;
	}

	.image-xx59 {
		background: url('../assets/shared/desktop/image-xx59-headphones.jpg'),
			no-repeat;
		background-size: cover;
		background-position: center;
	}

	.image-zx9 {
		background: url('../assets/shared/desktop/image-zx9-speaker.jpg'), no-repeat;
		background-size: cover;
		background-position: center;
	}

	.image-zx7 {
		background: url('../assets/shared/desktop/image-zx7-speaker.jpg'), no-repeat;
		background-size: cover;
		background-position: center;
	}
}
