@use '../App' as *;

.Similar-product-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 120px 0 50px;
	gap: 40px;
}

.Similar-product-grid {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: $mobile-inner-width;
}

.Similar-products {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 32px;
	margin-bottom: 56px;
}

@media (min-width: 768px) {
	.Similar-product-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 563px;
		gap: 56px;
		margin-bottom: 88px;
	}

	.Similar-product-grid {
		display: flex;
		flex-direction: row;
		justify-content: center;
		max-width: $tablet-inner-width;
		margin-bottom: 120px;
		gap: 11px;
	}

	.Similar-products {
		max-width: 223px;
		height: 318px;
		flex-shrink: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 32px;
		margin-bottom: 56px;
	}

	.Similar-product-card {
		width: 223px;
		height: 318px;
	}
}

@media (min-width: 1110px) {
	.Similar-product-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 600px;
		gap: 64px;
		margin-bottom: 120px;
	}

	.Similar-product-grid {
		display: flex;
		flex-direction: row;
		justify-content: center;
		max-width: $desktop-inner-width;
		gap: 30px;
		height: 471px;
	}

	.Similar-products {
		max-width: 350px;
		height: 471px;
		flex-shrink: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 40px;
		margin-bottom: 56px;
	}

	.Similar-product-card {
		min-width: 300px;
		height: 318px;
	}
}
