$primary-black-color: #000000;
$primary-orange-color: #d87d4a;
$primary-white-color: #ffffff;
$secondary-black-color: #101010;
$secondary-orange-color: #fbaf85;
$secondary-white-color: #fafafa;
$tertiary-white-color: #f1f1f1;
$tertiary-black-color: #191919;

$font-bold: 700;
$font-medium: 500;
$font-regular: 400;
$font-family: 'Manrope', sans-serif;

$font-xxxl: 56px;
$font-xxl: 40px;
$font-xl: 32px;
$font-l: 28px;
$font-m: 24px;
$font-s: 18px;
$font-xs: 15px;
$font-xxs: 14px;
$font-xxxs: 13px;

$spacer-xl: 28px;
$border-radius: 8px;
$large-margin: 120px;

.App {
	font-family: $font-family;
	// color: $primary-white-color;
	background-color: $secondary-white-color;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.Image-card {
	width: 327px;
	height: 352px;
	flex-shrink: 0;
	border-radius: $border-radius;
}
