$primary-black-color: #000000;
$primary-orange-color: #d87d4a;
$primary-white-color: #ffffff;
$secondary-black-color: #101010;
$secondary-orange-color: #fbaf85;
$secondary-white-color: #fafafa;
$tertiary-white-color: #f1f1f1;

$font-bold: 600;
$font-medium: 500;
$font-regular: 400;
$font-family: 'Manrope', sans-serif;

$font-xxxl: 56px;
$font-xxl: 40px;
$font-xl: 32px;
$font-l: 28px;
$font-m: 24px;
$font-s: 18px;
$font-xs: 14px;
$font-xxs: 13px;

$spacer-xl: 28px;

// .App-container {
// 	margin-top: $spacer-xl;
// }
