$primary-black-color: #000000;
$primary-orange-color: #d87d4a;
$primary-white-color: #ffffff;
$secondary-black-color: #101010;
$secondary-orange-color: #fbaf85;
$secondary-white-color: #fafafa;
$tertiary-white-color: #f1f1f1;
$tertiary-black-color: #191919;

$font-bold: 700;
$font-medium: 500;
$font-regular: 400;
$font-family: 'Manrope', sans-serif;

$font-xxxl: 2.875em;
$font-xxl: 2.5em;
$font-xl: 2em;
$font-l: 1.75em;
$font-m: 1.5em;
$font-s: 1.125em;
$font-xs: 0.937em;
$font-xxs: 0.875em;
$font-xxxs: 0.81em;

$spacer-xl: 1.75rem;
$border-radius: 8px;
// $large-margin: 120px;

$mobile-width: 23.4375rem; // 375px
$mobile-inner-width: 20.4375rem; //325px
$tablet-width: 48rem; //768px
$tablet-inner-width: 43.06rem; //689px
$desktop-width: 90rem; //1440px
$desktop-inner-width: 69.375rem; //1100px

html {
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	max-width: 375;
	min-width: 200px;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
}

.App {
	// min-width: 100vw;
	// min-height: 1000px;
	font-family: $font-family;
	background-color: $secondary-white-color;
	position: relative;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3 {
	margin: 0;
	padding: 0;
}

.Image-card {
	// width: 327px;
	height: 352px;
	flex-shrink: 0;
	border-radius: $border-radius;
}

.Md-text {
	color: $primary-orange-color;
	font-size: $font-xxs;
	font-style: normal;
	font-weight: $font-regular;
	line-height: normal;
	letter-spacing: 10px;
	text-transform: uppercase;
}

.Xlg-text {
	color: $primary-black-color;
	font-size: $font-l;
	font-style: normal;
	font-weight: $font-bold;
	line-height: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.Lg-text {
	color: $primary-black-color;
	font-size: $font-m;
	font-style: normal;
	font-weight: $font-bold;
	line-height: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 36px;
	letter-spacing: 0.857px;
	text-transform: uppercase;
}

.Sm-text {
	color: $primary-black-color;
	font-size: $font-xs;
	font-style: normal;
	font-weight: $font-medium;
	line-height: 25px;
	opacity: 0.5;
}

.Currency-text {
	color: $primary-black-color;
	font-size: $font-s;
	font-style: normal;
	font-weight: $font-bold;
	line-height: normal;
	letter-spacing: 1.286;
	text-transform: uppercase;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.Back-btn {
	color: $primary-black-color;
	font-family: Manrope;
	font-size: $font-xs;
	font-style: normal;
	font-weight: $font-medium;
	line-height: 25px;
	opacity: 0.5;
	margin: 36px 0 24px;
}

.Back-btn:hover {
	color: $primary-orange-color;
	opacity: 1;
}

.Loader {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.Scroll-top {
	display: flex !important;
	align-items: center;
	justify-content: center;
}

// @media (min-width: 375px) and (max-width: 768.217px) {
// 	.App {
// 		// width: $tablet-width;
// 	}

// 	.Image-card {
// 		// width: $tablet-inner-width;
// 		height: 352px;
// 	}

// 	.Lg-text {
// 		// width: 572px;
// 		font-size: $font-xxl;
// 		font-weight: $font-bold;
// 		letter-spacing: 1.429px;
// 	}

// 	.Md-text {
// 		margin-top: 0;
// 	}

// 	.Sm-text {
// 		color: $primary-black-color;
// 		font-size: $font-xs;
// 		font-style: normal;
// 		font-weight: $font-medium;
// 		line-height: 25px;
// 		opacity: 0.5;
// 	}

// 	.Back-btn {
// 		margin: 33px 0 24px;
// 	}
// }

@media (min-width: 768.217px) and (max-width: 1440px) {
	.App {
		// width: $desktop-width;
	}
	.Image-card {
		// width: 540px;
		height: 560px;
	}

	.Back-btn {
		margin: 79px 0 56px;
	}
}

@media (min-width: 1440px) {
	.App {
		// width: 100vw;
	}
	.Image-card {
		// width: 540px;
		height: 560px;
	}

	.Back-btn {
		margin: 79px 0 56px;
	}
}
