$primary-black-color: #000000;
$primary-orange-color: #d87d4a;
$primary-white-color: #ffffff;
$secondary-black-color: #101010;
$secondary-orange-color: #fbaf85;
$secondary-white-color: #fafafa;
$tertiary-white-color: #f1f1f1;
$tertiary-black-color: #191919;

$font-bold: 700;
$font-medium: 500;
$font-regular: 400;
$font-family: 'Manrope', sans-serif;

$font-xxxl: 56px;
$font-xxl: 40px;
$font-xl: 32px;
$font-l: 28px;
$font-m: 24px;
$font-s: 18px;
$font-xs: 15px;
$font-xxs: 14px;
$font-xxxs: 13px;

$spacer-xl: 28px;
$border-radius: 8px;
$large-margin: 120px;

$mobile-width: 375px;
$mobile-inner-width: 327px;
$tablet-width: 768.217px;
$tablet-inner-width: 689px;
$desktop-width: 1440px;
$desktop-inner-width: 1110px;

.App {
	width: $mobile-width;
	// height: 100vh;
	font-family: $font-family;
	background-color: $secondary-white-color;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
}


.Image-card {
	width: 327px;
	height: 352px;
	flex-shrink: 0;
	border-radius: $border-radius;
}

.Md-text {
	color: $primary-orange-color;
	font-size: $font-xxs;
	font-style: normal;
	font-weight: $font-regular;
	line-height: normal;
	letter-spacing: 10px;
	text-transform: uppercase;
	// margin-top: 34px;
}

.Xlg-text {
	color: $primary-black-color;
	font-size: $font-l;
	font-style: normal;
	font-weight: $font-bold;
	line-height: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.Lg-text {
	color: $primary-black-color;
	font-size: $font-m;
	font-style: normal;
	font-weight: $font-bold;
	line-height: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 36px;
	letter-spacing: 0.857px;
	text-transform: uppercase;
}

.Sm-text {
	color: $primary-black-color;
	font-size: $font-xs;
	font-style: normal;
	font-weight: $font-medium;
	line-height: 25px;
	opacity: 0.5;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.Back-btn {
	color: $primary-black-color;
	font-family: Manrope;
	font-size: $font-xs;
	font-style: normal;
	font-weight: $font-medium;
	line-height: 25px;
	opacity: 0.5;
}

.Back-btn:hover {
	color: $primary-orange-color;
	opacity: 1;
}


@media (min-width: 375px) and (max-width: 768.217px) {
	.App {
		width: $tablet-width;
	}

	.Image-card {
		width: $tablet-inner-width;
		height: 352px;
	}
	
	.Lg-text {
		width: 572px;
		font-size: $font-xxl;
		font-weight: $font-bold;
		letter-spacing: 1.429px;
	}

	.Md-text {
		margin-top: 0;
	}
	
	.Sm-text {
		color: $primary-black-color;
		font-size: $font-xs;
		font-style: normal;
		font-weight: $font-medium;
		line-height: 25px;
		opacity: 0.5;
	}


}

@media (min-width: 768.217px) and (max-width: 1440px) {
	.App {
		width: $desktop-width;
	}
	.Image-card {
		width: 540px;
		height: 560px;
	}
}

@media (min-width: 1440px) {
	.App {
		width: 100vw;
	}
	.Image-card {
		width: 540px;
		height: 560px;
	}
}

